<section
  class="flex justify-between items-center h-20 w-full px-10 bg-gray-300 rounded-xl"
>
  <span class="text-xl">Management System</span>
  <nav class="text-lg">
    <ul class="">
      <li class="inline-block mr-10">
        <a routerLink="/">Personal Space</a>
      </li>
      <li class="inline-block mr-10">
        <a routerLink="/azubis">Azubi Management</a>
      </li>
      <li class="inline-block">
        <a routerLink="/calendar">Kalender</a>
      </li>
    </ul>
  </nav>
</section>
